.button-register{
    border-radius: 15px ;
    display: inline-block;
    cursor: pointer;

}
.center{
    margin: 0 auto;
}
.background1{
    background-image: url('static/img/Poze proiect/car5.jpg');

}

